<%= chapter_block id: "abilities", extra_class: "pt-5" do %>
  <h1 class="mt-5 mb-0">Abilities</h1>

  <h2 class="mt-5 mb-3" id="endothermic-blaster">Endothermic Blaster</h2>

  <h3 class="mt-0 mb-3">Freeze</h3>
  <p>
    This ability seems pretty straight forward on first sight. You fire out a cone, slow your targets, and eventually freeze those unlucky enough to be affected for a certain amount of time. However when looking at it closely, the ability might be very different than expected. Let's go over some stats.
  </p>
  <ul>
    <li>45 damage per second, or 2.25 damage per ammo. Coming up to 20 ammo per second.</li>
    <li>30 ammo to freeze someone. (Roughly 1.5 seconds)</li>
    <li>10 Meters maximum range.</li>
    <li>Projectile speed of 20 meters per second.</li>
    <li>Reload time of 1.5 seconds.</li>
    <li>Total stun duration of 1.5 seconds.</li>
    <li>Slow starts to degrade after 1.5 seconds.</li>
    <li>Slow degrades over 1.5 seconds (At maximum freeze).</li>
  </ul>

  <p>
    As you might be able to tell, a lot of these stats depend on eachother. It takes 1.5 seconds to freeze someone, to reload, the stun lasts 1.5 seconds, and the freeze degrades over 1.5 seconds. This means reloading leaves no time to continue freezing or to fire one more shot at a stunned target. Also note, freezing a target takes 1.5 seconds but only when the freeze is never interrupted. Missing the targets for a fraction of a second will result in the slow degrading, and thus a longer time to slow.
  </p>
  <p>
    Something you may not have known is the fact that the gun actually has a rather slow projectile speed. At a maximum range of 10 meters it takes 0.5 seconds for the freeze to reach its target. This also means you can stop freezing someone a fraction earlier than you might expect, as some of the spray is still traveling. Timing this correct can result in being able to land 2 easy headshots on a stunned target, more on this later.<br>
    This also has some interesting results when trying to fire while walking. If you are chasing someone you reach isn't actually 10 meters. In the 0.5 seconds it takes for the freeze to reach, you will have walked in to it, and thus lowered the effective range. When walking backwards this effect is reversed, allowing for a higher effective range. This isn't something that comes in to play often, but it's something to consider.
  </p>
  <p>
    Because the freeze is based on ammo (or ticks) fired on a target, damage boosts do not decrease the time it takes to freeze a target. Because of this it might be more efficient to use your Icicle (right click) when affected by Ana's ultimate. But in general damage boosts should never be deliberately applied to you, as they have little effect.<br>
    <strong>The freeze time and damage dealt are not affected by headshots.</strong>
  </p>
  <p>
    Even though the effect might suggest otherwise, the spray only affects the first target it hits. Making it impossible to freeze multiple targets with one continuous blast. However, it is possible to stun more than one target at once. This can be done by gradually swapping target until both are near the freezing point, at which point you can stun one after another. In practice this has very little use, but learning to do this properly can give you a better understanding of how the freeze works. I highly suggest trying this in practice mode.
  </p>

  <h3 class="mt-5 mb-3">Icicle</h3>
  <p>
    Of course this works great together with your freeze. Freeze a target, and headshot them. This can be all you use the icicle for, and you will have decent results. But the ability has a little more depth than that. Let's look at some stats again.
  </p>
  <ul>
    <li>Deals 75-22 damage, based on distance</li>
    <li>Damage stats to fall off at 26 meters, up to a minumum damage at 55 meters.</li>
    <li>A shot takes 20 ammo</li>
    <li>Charging a shot takes 0.4 seconds.</li>
    <li>Mei can fire 1.2 shots per second.</li>
  </ul>
  <p>
    Since the damage falls off rather quickly, playing Mei as a sniper is not exactly viable. You will need to get in close and personal. Since the shots are rather slow and hard to hit, you will need to use this in combination with your freeze. Against low health targets fully freezing a target is not always necessary. Simply slowing the target enough to easily headshot someone can be enough.
  </p>
  <p>
    During a stun you have time to land a single headshot, unless you time it right. As talked about in the previous chapter, your freeze has a travel time. You can start charging your shot in the time it takes for the rest of the freeze to arrive. This can result in being able to land two headshots, up to a total of 300 damage off of icicle alone, 380 with your freeze combined. This is enough to kill any non-tank.
  </p>
  <p>
    For 200 health targets one headshot (in combination with your freeze) is enough to kill. For 250 health targets you will be dealing roughly 230 damage with this combo. Follow this combo with a melee attack to finish off the target.
  </p>
  <p>
    With more advanced tactics you can also kill a high health target with a single stun. Freeze the target until they are almost stunned, land a headshot, finish the freeze and land two more headshots. This results in 550 damage, allowing you to land one more bodyshot for the kill. This can all be done in about 3.5 seconds. Of course most tanks have a way of preventing this, such as a Zarya bubble or a Roadhog heal. Key is to know what your targets have used.
  </p>
  <p>
    Always go in to a fight knowing your limits and your targets limits. Don't rely on thinking you are better than your target, rely on pure statistics to take out your targets. I will go more in-depth on this in a later chapter.
  </p>

  <h2 class="mt-5 mb-3" id="cryo-freeze">Cryo-freeze</h2>
  <span class="font-italic py-1 px-2 bg-primary text-white text-small">I am not happy with this chapter. A rewrite is in order.</span>

  <p>
    This ability is often used from by players new to playing Mei. You're low health, scary stuff is happening around you, so you freeze up and heal, right? Well yes, sometimes that is the best course of action. But the ability is much better used as a dodge, than as a "get out of jail free card". The main problem with Cryofreeze is that it is super obvious where you are and what you are doing. Enemies can focus you right when you get out of your freeze. Instead use it to predict and dodge enemy attacks that will make a difference in fights. Such as a McCree flashbang or Roadhog hook.
  </p>
  <p>
    Of course this is all situational and will mostly come down to experience. Don't be afraid to use the cooldown on this ability and practice different scenarios. In some cases the best course of action might be to sit it out and wait for enemies to use their abilities. Some obvious cases are Pharah and Hanzo ultimates. If your healers are nearby and able to focus you, let them do the healing, don't panic when you get low and want to use your ability just to heal.
  </p>
  <p>
    To contradict my previous point, sometimes it is best to use it just to heal. If a fight is over, your healers are dead, or you know you won't be needing it for the duration of the cooldown, you can use it to charge your ultimate. Using the full 150 health gain can earn your roughly 10% of your ultimate.
  </p>
  <p>
    All in all a lot of what I said here contradicts each other, and with good reason. The ability is very versatile and a lot will come down to you knowing your limits, and knowing what will be going on in a fight. In other words; experience.
  </p>

  <h2 class="mt-5 mb-3" id="ice-wall">Ice Wall</h2>

  <p>
    Now this is where the real depth of Mei comes in. Not a single ability in the game is as versatile as this. Because of this I will be going over a few notable situations you might encounter often. But first off, let's go over how the wall actually works.
  </p>
  <p>
    The wall consists of 5 pillars, each for 500 health, and lasts 4.5 seconds. Most unexpectedly, it has a huge range of 35 meters. This is large enough to reach most reasonable locations.
  </p>
<% end %>

<%= columns_block do %>
  <%= link_to image_url("icewall_placement.jpg"), target: "_blank", class: "block px-4 md:px-0 md:mx-4 w-1/1 md:w-6/12 lg:w-5/12 mw:w-4/12 b-0" do %>
    <%= image_tag "icewall_placement.jpg", class: "h-auto w-1/1" %>
  <% end %>

  <div class="px-4 md:px-0 md:mx-4 md:w-6/12 lg:w-5/12 mw:w-4/12">
    <p>
      <strong>When first playing Mei it might be very confusing what determines where the wall will be placed.</strong> Of course you have the little indicator, but in the heat of the battle there is no time to go looking for this. In reality it's actually fairly simple. Think of the world as a 2 dimensional picture. <strong>Draw a line down from the object your crosshair is aimed at (infinite if aimed in the air), whatever object (or floor) it hits first is where the wall will be placed</strong> (As long as it is within the 35 meter range). Only static object affect the position, meaning you can't place it on anything that can be moved. <br>
      All this will take some getting used to, but once you realise what is going on, you will quickly be placing your walls like a pro.
    </p>
  </div>
<% end %>

<%= chapter_block extra_class: "mt-5" do %>
  <h4 class="mt-4 mb-2">Choke points</h4>

  <p class="mt-0">
    The most obvious use for a wall is to close off a choke point. Wait for an enemy to enter, place a wall behind him, and finish him without having to worry about the rest of the enemy team. In the "<%= link_to "Map specific", "#" %>" chapter I will be going over specific choke points and how to utilize them.
  </p>

  <h4 class="mt-4 mb-2">Separating teams</h4>

  <p class="mt-0">
    You don't always have a choke point to support your walls. In the middle of a team fight a wall can be a great way of separating enemies away from their healers, dps, or whatever it might be. You can place your wall in the middle of an open field, and still win a few seconds, which might be enough to get a kill or two. Inside buildings it can be extra effective, as there might not be a way around your wall.
  </p>

  <p>
    After losing a fight on 2CP maps enemy teams tend to over extend. Use this to your advantage and catch those who do.
  </p>

  <h4 class="mt-4 mb-2">Forcing a direction</h4>

  <p class="mt-0">
    Even if your wall does not block off anything, it can still force an enemy to walk a particular direction. This allows your team to easily fire at the enemy, as their movement will be very predictable.
  </p>

  <h4 class="mt-4 mb-2">Mobility</h4>

  <p class="mt-0">
    Wall below your feet to lift yourself up. Wall below your teammates feet to lift them up. You can help yourself and your team reach places your enemy might not expect. In the "<%= link_to "Map specific", "#" %>" chapter I will be going over specific spots. But in general, reach places to get away from enemies or surprise them. Lift yourself over a wall, and flank them. Mei doesn't have great mobility, but she can reach unexpected places, this is especially useful when trying to land a good ultimate. Mei is the only hero that can create mobility for her teammates (and enemies).
  </p>

  <h4 class="mt-4 mb-2">Bridging gaps</h4>

  <p class="mt-0">
    There's many gaps that mobile characters can use to get to an objective faster. Those without mobility often have to take the long route, but with your help you can get them over.
  </p>

  <p>
    When trying to find proper spots for you and your team to reach, look for objects that might help you get higher up. Think of benches, rocks, anything that might give you that little bit of extra reach. The payload's position might open up paths that were unreachable.
  </p>

  <h4 class="mt-4 mb-2">Creating high ground</h4>

  <p class="mt-0">
    High ground is incredibly important. It allows you to easily land headshots on your opponent while making it more difficult for them. Lifting yourself up in the middle of a duel can give you a large advantage.
  </p>

  <h4 class="mt-4 mb-2">Saving yourself and your team</h4>

  <p class="mt-0 mb-2">
    Blocking ultimates, stopping Roadhog hooks, it will all win you favor with your teammates. You can play Mei as more of a tank oriented role by focussing on keeping your teammates safe. Lifting your supports away from flankers can give them enough time to heal up and make a safe escape. Try to track the abilities your enemies use, predict ultimates and be ready to block them. Practically any ability can be block, but be careful to not block those of your teammates.
  </p>

  <label class="content-toggle">
    Toggle image

    <input type="checkbox" class="content-toggle__input">
    <div class="content-toggle__inner">
      <p class="mt-0 mb-3">
        My team gets caught in a Zarya ultimate, with a D.va ultimate coming their way. A well timed wall saved them from certain death.
      </p>

      <div class="relative" style="padding-bottom: 54%">
        <iframe src="https://gfycat.com/ifr/AccomplishedExhaustedChanticleer" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
      </div>
    </div>
  </label>

  <h4 class="mt-4 mb-2">Closing escape points</h4>

  <p class="mt-0">
    If you know your team will enter a room filled with enemies, you can often pre-emptively close an escape point from outside of that room. This will force the enemy to stay in the room and out of potential cover. This can of course also work on smaller scale, when you see a single enemy in a room.
  </p>

  <h4 class="mt-4 mb-2">Stalling</h4>

  <p class="mt-0">
    Whether it's Payload or Point control, Mei's wall in combination with Cryo-freeze allows her to keep contesting a point for a long time. Try lifting yourself up, many enemy expect you to be behind the wall, and not on top. This in turn opens up opportunities to pick off enemies, while you wait for the rest of your team to arrive.
  </p>

  <h4 class="mt-4 mb-2">Blocking healthpacks</h4>

  <p class="mt-0 mb-2">
    Ice Wall is thick enough to block healthpacks when placed right on top of them. Of course those going for healthpacks are often low health, and have used their mobility to try and get there, allowing you to pick up and easy kill.
  </p>

  <label class="content-toggle">
    Toggle image

    <input type="checkbox" class="content-toggle__input">
    <div class="content-toggle__inner">
      <p class="mt-0 mb-3">
        <iframe src="https://gfycat.com/ifr/ThoughtfulDeficientLeveret" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
      </p>

      <div class="relative" style="padding-bottom: 54%">

      </div>
    </div>
  </label>

  <h4 class="mt-4 mb-2">Keeping enemies off of the objective</h4>

  <p class="mt-0">
    When overtime starts ticking fast, a well timed wall can be all that's needed to win the point. Closing up a choke point can easily win you the objective. Even when there is no choke point, the extra second it takes for enemies to walk around the wall can be all you need.
  </p>

  <h4 class="mt-4 mb-2">Bringing enemies in to view</h4>

  <p class="mt-0 mb-2">
    Enemies hiding behind a wall or a shield? Lift them up and bring them in to view! This can be especially useful when up against a Bastion who sits on the payload hiding behind a shield. Lift him up, and allow your team to hit him.
  </p>

  <label class="content-toggle">
    Toggle image

    <input type="checkbox" class="content-toggle__input">
    <div class="content-toggle__inner">
      <p class="mt-0 mb-3">
        In this clip you can see me lift Orisa away from her shield, allowing us to finish her.
      </p>

      <div class="relative" style="padding-bottom: 54%">
        <iframe src="https://gfycat.com/ifr/RequiredSecretAdouri" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
      </div>

      <p class="mt-4 mb-3">
        An easy way to stop a protected Bastion on a payload is to simply lift him away from his shields.
      </p>

      <div class="relative" style="padding-bottom: 54%">
        <iframe src="https://gfycat.com/ifr/SpeedyGranularInganue" class="absolute pin-t pin-l" frameborder="0" scrolling="no" width="100%" height="100%" allowfullscreen></iframe>
      </div>
    </div>
  </label>

  <h4 class="mt-4 mb-2">General advise on using your Ice Wall</h4>

  <p class="mt-0">
    While the wall can be very benefitial, it can also hurt your team. As a general rule I make sure to take down my wall as soon as I now longer know exactly what it is stopping. If it is serving no purpose, it is better to drop it.
  </p>

  <p>
    Communication is key. Tell your team when you have caught someone and make sure to listen to calls when they are about to use their ultimate. The last thing you want to do is block a friendly would-be 6 man Reinhardt Shatter.
  </p>

  <p>
    Enemies can hear the sound of you starting to place your Ice Wall. As soon as you press you Ice Wall they here the same sound you do. Keep this in mind when trying to be sneaky.
  </p>

  <p>
    Too often I see a Mei only use her wall in choke points. An Ice Wall in the middle of an open field can still separate a tank for a few seconds, which is all you need.
  </p>

  <p class="mt-5 font-italic">
    Even with all these different subjects, we have only scratched the surface. In the map and hero specific chapters I will go over more specific uses for your wall. And even then, a lot of it comes down to your creativity and experience. There is no ability in the game that has such a vast amount of different uses.
  </p>
<% end %>

<%= chapter_block extra_class: "mt-5" do %>
  <h2 class="mt-0 mb-3" id="blizzard">Blizzard</h2>

  <p>
    Mei's ultimate is often used wrong. It's not supposed to get you those large multi kills. It's easy to get out of by most of the heroes, it doesn't deal a lot of damage, and it's difficult to properly hit multiple targets. What it is great at is area denial. You create this enormous area that the enemy would rather stay away from. This can be great to deny choke points, split enemy teams, and catch people out of position. In a lot of ways it serves a similar role to your wall, except with a deadly twist.
  </p>

  <p>
    Let's go over some important points.
  </p>
  <ul>
    <li>After landing it takes 1.5 seconds for the ultimate to activate.</li>
    <li>Targets are frozen after 1.5 seconds. This can be decreased by additionally hitted the enemy with your Endothermic Blaster.</li>
    <li>Blizzard lasts 5 seconds. Enemies are frozen as long as they are within the radius. The targets are no longer stunned after 1.5 seconds of leaving the radius, or the ability ending.</li>
    <li>Blizzard requires line of sight from the center of the ability.</li>
  </ul>

  <p>
    After throwing your ultimate, when it lands it takes 1.5 seconds for it to activate it's effect. This means that when throwing your ultimate from a distance, it can take a very long time to actually do anything. Thus giving your enemies a ton of time to prepare and react. For this reason, and many others, it's often a good idea to throw your ultimate directly at your feet. Other reasons include; Making sure you are in range to follow up on it properly, and making sure your ultimate does not get reflected or Defense Matrixed.<br>
    <em>Unfortunately due to buggy detection, it can take more than 1.5 seconds for it to activate. It can get stuck on some object and you will have to wait for it to reposition itself. This can sometimes take several seconds. Because of this I often make sure to throw it on a flat surface to make sure it activates right away.</em>
  </p>

  <p>
    Many heroes have one or more abilities that allow them to get out of your ultimate. This makes it very difficult to catch someone. When using your ultimate it can be a good idea to look for a spot with not many exits. Especially when closing one of those exits with your Ice Wall. This will of course not always be ideal. Sometimes you will have to use your ultimate in a big open space. This can be for a number of reasons; Forcing people away from an objective, splitting enemy teams, and trying to kill a single target. In all of these situations it can be a good idea to force on one specific enemy, to make sure you atleast get a kill. But even if you don't, the area control it gives can easily win you the fight. It forces enemies to use their movement abilities, which can make them vulnerable. This is similar to what a D.va Self-destruct is often used for.
  </p>
<% end %>

<%= columns_block do %>
  <div class="block px-4 md:px-0 md:mx-4 w-1/1 md:w-6/12 lg:w-5/12 mw:w-4/12 mt-4 sm:mt-0">
    <%= link_to image_url("blizzard_hitbox_1.jpg"), target: "_blank", class: "b-0" do %>
      <%= image_tag "blizzard_hitbox_1.jpg", class: "block mb-3 h-auto w-1/1" %>
    <% end %>

    <%= link_to image_url("blizzard_hitbox_2.jpg"), target: "_blank", class: "b-0" do %>
      <%= image_tag "blizzard_hitbox_2.jpg", class: "block h-auto w-1/1" %>
    <% end %>
  </div>

  <div class="px-4 md:px-0 md:mx-4 md:w-6/12 lg:w-5/12 mw:w-4/12">
    <p>
      What makes the ability so strange and difficult to use is it's very unclear visuals. The visuals show a large circle, indicating that anything in it's circle will be affected. In practice this is a little different. Only areas in line of sight of the center of Blizzard are affected. Meaning that anyone behind cover or walls will not be frozen. In the image you can see it in action. <strong>Any of the red areas are unaffected</strong>, even though the visuals are absolutely covering the area. This also goes for vertical line of sight. So if the enemy would be behind a wall, but his head pokes out above it, he will still be affected. In other words, as long as any part of the hero is within a green zone, he will be affected. This also goes for the very edge of the ultimate. <strong>The payload, shields, and breakable objects do not block line of sight of Blizzard</strong>.
    </p>

    <p>
      Unfortunately this can often lead to unexpected escapes from enemies. Things like small lanerns, or other objects, can block line of sight and set enemies free. This can be very frustrating, but it's something we will have to deal with.
    </p>

    <p>
      The area that Blizzard covers is spherical. Because of this is it very difficult to hit targets in the air, as they are more likely to be ouside the area.
    </p>

    <label class="content-toggle">
      Toggle example

      <input type="checkbox" class="content-toggle__input">
      <div class="content-toggle__inner">
        <%= link_to image_url("blizzard_radius.jpg"), target: "_blank", class: "b-0" do %>
          <%= image_tag "blizzard_radius.jpg", class: "h-auto w-1/1" %>
        <% end %>
      </div>
    </label>
  </div>
<% end %>
