<%= chapter_block id: "abilities", extra_class: "pt-10" do %>
  <h1 class="mt-10 mb-0">Abilities</h1>
<% end %>

<%= chapter_block partial: "pages/abilities/endothermic-blaster", id: "endothermic-blaster" %>
<%= chapter_block partial: "pages/abilities/cryofreeze", id: "cryofreeze" %>
<%= render "pages/abilities/ice-wall" %>
<%= render "pages/abilities/blizzard" %>
