<h1 class="mt-5 mb-0">Heroes</h1>

<p class="text-large font-italic mb-0">
  While Mei is very versatile, she sure has some characters she can struggle against. Luckily she also synergises well with a large number of heroes. In this chapter we will go over how to play against and together with every single character in the roster. We will go over 1v1 duel situations, but also over more common team fights scenarios, in which we focus on the one single hero.
</p>

<div class="text-large flex flex-column align-start">
  <h4 class="mt-5 mb-2">Offense heroes</h4>
  <div>
    <%= link_to "Doomfist", "#doombifst", class: "mr-2" %>
    <%= link_to "Genji", "#", class: "mr-2" %>
    <%= link_to "McCree", "#", class: "mr-2" %>
    <%= link_to "Pharah", "#", class: "mr-2" %>
    <%= link_to "Reaper", "#", class: "mr-2" %>
    <%= link_to "Soldier: 76", "#", class: "mr-2" %>
    <%= link_to "Sombra", "#", class: "mr-2" %>
    <%= link_to "Tracer", "#", class: "mr-2" %>
  </div>

  <h4 class="mt-5 mb-2">Defense heroes</h4>
  <div>
    <%= link_to "Bastion", "#", class: "mr-2" %>
    <%= link_to "Hanzo", "#", class: "mr-2" %>
    <%= link_to "Junkrat", "#", class: "mr-2" %>
    <%= link_to "Mei", "#", class: "mr-2" %>
    <%= link_to "Torbjörn", "#", class: "mr-2" %>
    <%= link_to "Widowmaker", "#", class: "mr-2" %>
  </div>

  <h4 class="mt-5 mb-2">Tank heroes</h4>
  <div>
    <%= link_to "D.va", "#", class: "mr-2" %>
    <%= link_to "Orisa", "#", class: "mr-2" %>
    <%= link_to "Reinhardt", "#", class: "mr-2" %>
    <%= link_to "Roadhog", "#", class: "mr-2" %>
    <%= link_to "Winston", "#", class: "mr-2" %>
    <%= link_to "Zarya", "#", class: "mr-2" %>
  </div>

  <h4 class="mt-5 mb-2">Support heroes</h4>
  <div>
    <%= link_to "Ana", "#", class: "mr-2" %>
    <%= link_to "Lúcio", "#", class: "mr-2" %>
    <%= link_to "Mercy", "#", class: "mr-2" %>
    <%= link_to "Moira", "#", class: "mr-2" %>
    <%= link_to "Symmetra", "#", class: "mr-2" %>
    <%= link_to "Zenyatta", "#", class: "mr-2" %>
  </div>
</div>

<h2 class="mt-5 mb-3" id="doomfist">Doomfist</h2>
<h3>Against</h3>
<p>
  A duel with Doomfist is always interesting. He absolutely has the advantage, but you can outplay him if you play it right. If he gets within melee range of you, it starts to get dangerous. His Rising Uppercut in combination with Seismic Slam can put you on very low health. Paired with the low cooldown on his abilities, he can be a real nightmare to deal with. Your best bet is to stay out of range of him and try and bait out his abilities. You can block all of his abilities with your Ice Wall, and of course with your Cryofreeze. Lifting yourself up with your wall and attacking him from above can give you a clear advantage, as he cannot reach you. His Uppercut and Rocket Punch combo is fairly predictable and can be blocked by your Cryo-freeze.
</p>
<p>
  This all changes in teamfights, where you can do great work to outright counter him. You can easily save teammates from Rocket Punches. You can also block his Ultimate with your Ice Wall, place it to the side of where it will land, and it will block anything behind line of sight of the wall. Place it right in the center, and it will largely decrease all of the damage it does to those on the ground because he will land on top of the Ice Wall. There is more than enough time to carefully place your wall and you see it come down. Listen to the sound his ultimate makes to estimate which of your teammates he is going for, and save them with your wall.
</p>
<p>
  Because of the large amount of mobility it can be difficult to freeze Doomfist. Only try doing so if you are sure he has used all of his abilities. His Rocket Punch takes 1 second to charge, while your Freeze takes 1.5 seconds to stun. As long as he started freezing before he started charging, you should have the advantage. Of course he can let go of his charge whenever he wants to, so it's best to play it careful and block his charge instead. The slow does not affect him much, as it does not slow down his abilities.
</p>

<h3>With</h3>

<h2 class="mt-5 mb-3" id="genji">Genji</h2>
<h2 class="mt-5 mb-3" id="mccree">McCree</h2>
<h2 class="mt-5 mb-3" id="pharah">Pharah</h2>
<h2 class="mt-5 mb-3" id="reaper">Reaper</h2>
<h2 class="mt-5 mb-3" id="soldier76">Soldier: 76</h2>
<h2 class="mt-5 mb-3" id="sombra">Sombra</h2>
<h2 class="mt-5 mb-3" id="tracer">Tracer</h2>

<h2 class="mt-5 mb-3" id="bastion">Bastion</h2>
<h2 class="mt-5 mb-3" id="hanzo">Hanzo</h2>
<h2 class="mt-5 mb-3" id="junkrat">Junkrat</h2>
<h2 class="mt-5 mb-3" id="mei">Mei</h2>
<h2 class="mt-5 mb-3" id="torbjorn">Torbjörn</h2>
<h2 class="mt-5 mb-3" id="widowmaker">Widowmaker</h2>

<h2 class="mt-5 mb-3" id="dva">D.va</h2>
<h2 class="mt-5 mb-3" id="orisa">Orisa</h2>
<h2 class="mt-5 mb-3" id="reinhardt">Reinhardt</h2>
<h2 class="mt-5 mb-3" id="roadhog">Roadhog</h2>
<h2 class="mt-5 mb-3" id="winston">Winston</h2>
<h2 class="mt-5 mb-3" id="zarya">Zarya</h2>

<h2 class="mt-5 mb-3" id="ana">Ana</h2>
<h2 class="mt-5 mb-3" id="lucio">Lúcio</h2>
<h2 class="mt-5 mb-3" id="mercy">Mercy</h2>
<h2 class="mt-5 mb-3" id="moira">Moira</h2>
<h2 class="mt-5 mb-3" id="symmetra">Symmetra</h2>
<h2 class="mt-5 mb-3" id="zenyatta">Zenyatta</h2>
