<h1 class="mt-10 mb-0">Heroes</h1>

<p class="text-large font-italic mb-0">
  While Mei is very versatile, she sure has some characters she can struggle against. Luckily she also synergises well with a large number of heroes. In this chapter we will go over how to play against and together with every single character in the roster. We will go over 1v1 duel situations and over more common team fights scenarios, in which we focus on the one single hero.
</p>

<div class="pb-10 text-large flex flex-column align-start">
  <h4 class="mt-5 mb-2">Tank heroes</h4>
  <div>
    <%= link_to "D.va", "#dva", class: "mr-2" %>
    <%= link_to "Orisa", "#orisa", class: "mr-2" %>
    <%= link_to "Reinhardt", "#reinhardt", class: "mr-2" %>
    <%= link_to "Roadhog", "#roadhog", class: "mr-2" %>
    <%= link_to "Winston", "#winston", class: "mr-2" %>
    <%= link_to "Wrecking Ball", "#wreckingball", class: "mr-2" %>
    <%= link_to "Zarya", "#zarya", class: "mr-2" %>
  </div>

  <h4 class="mt-5 mb-2">Damage heroes</h4>
  <div>
    <%= link_to "Ashe", "#ashe", class: "mr-2" %>
    <%= link_to "Bastion", "#bastion", class: "mr-2" %>
    <%= link_to "Doomfist", "#doomfist", class: "mr-2" %>
    <%= link_to "Genji", "#genji", class: "mr-2" %>
    <%= link_to "Hanzo", "#hanzo", class: "mr-2" %>
    <%= link_to "Junkrat", "#junkrat", class: "mr-2" %>
    <%= link_to "McCree", "#mccree", class: "mr-2" %>
    <%= link_to "Mei", "#mei", class: "mr-2" %>
    <%= link_to "Pharah", "#pharah", class: "mr-2" %>
    <%= link_to "Reaper", "#reaper", class: "mr-2" %>
    <%= link_to "Soldier: 76", "#soldier76", class: "mr-2" %>
    <%= link_to "Sombra", "#sombra", class: "mr-2" %>
    <%= link_to "Symmetra", "#symmetra", class: "mr-2" %>
    <%= link_to "Torbjörn", "#torbjorn", class: "mr-2" %>
    <%= link_to "Tracer", "#tracer", class: "mr-2" %>
    <%= link_to "Widowmaker", "#widowmaker", class: "mr-2" %>
  </div>

  <h4 class="mt-5 mb-2">Support heroes</h4>
  <div>
    <%= link_to "Ana", "#ana", class: "mr-2" %>
    <%= link_to "Brigitte", "#brigitte", class: "mr-2" %>
    <%= link_to "Lúcio", "#lucio", class: "mr-2" %>
    <%= link_to "Mercy", "#mercy", class: "mr-2" %>
    <%= link_to "Moira", "#moira", class: "mr-2" %>
    <%= link_to "Zenyatta", "#zenyatta", class: "mr-2" %>
  </div>
</div>

<%= render "pages/heroes/dva" %>
<%= render "pages/heroes/orisa" %>
<%= render "pages/heroes/reinhardt" %>
<%= render "pages/heroes/roadhog" %>
<%= render "pages/heroes/winston" %>
<%= render "pages/heroes/wreckingball" %>
<%= render "pages/heroes/zarya" %>

<%= render "pages/heroes/ashe" %>
<%= render "pages/heroes/bastion" %>
<%= render "pages/heroes/doomfist" %>
<%= render "pages/heroes/genji" %>
<%= render "pages/heroes/hanzo" %>
<%= render "pages/heroes/junkrat" %>
<%= render "pages/heroes/mccree" %>
<%= render "pages/heroes/mei" %>
<%= render "pages/heroes/pharah" %>
<%= render "pages/heroes/reaper" %>
<%= render "pages/heroes/soldier76" %>
<%= render "pages/heroes/sombra" %>
<%= render "pages/heroes/symmetra" %>
<%= render "pages/heroes/torbjorn" %>
<%= render "pages/heroes/tracer" %>
<%= render "pages/heroes/widowmaker" %>

<%= render "pages/heroes/ana" %>
<%= render "pages/heroes/brigitte" %>
<%= render "pages/heroes/lucio" %>
<%= render "pages/heroes/mercy" %>
<%= render "pages/heroes/moira" %>
<%= render "pages/heroes/zenyatta" %>
