<h1 class="mt-5 mb-0">Map Specific</h1>

<p class="text-large font-italic mb-0">

</p>

<div class="text-large flex flex-column align-start">
  <h4 class="mt-5 mb-2">Assault maps</h4>
  <%= link_to "Horizon Lunar Colony", "#", class: "mr-2" %>
  <%= link_to "Temple of Anubis", "#", class: "mr-2" %>
  <%= link_to "Volskaya Industries", "#", class: "mr-2" %>

  <h4 class="mt-5 mb-2">Escort maps</h4>
  <%= link_to "Dorado", "#", class: "mr-2" %>
  <%= link_to "Junkertown", "#", class: "mr-2" %>
  <%= link_to "Route 66", "#", class: "mr-2" %>
  <%= link_to "Watchpoint: Gibraltar", "#", class: "mr-2" %>

  <h4 class="mt-5 mb-2">Assault Escort maps</h4>
  <%= link_to "Blizzard World", "#", class: "mr-2" %>
  <%= link_to "Eichenwalde", "#", class: "mr-2" %>
  <%= link_to "Hollywood", "#", class: "mr-2" %>
  <%= link_to "King's Row", "#", class: "mr-2" %>
  <%= link_to "Numbani", "#", class: "mr-2" %>

  <h4 class="mt-5 mb-2">Control maps</h4>
  <%= link_to "Ilios", "#", class: "mr-2" %>
  <%= link_to "Lijiang Tower", "#", class: "mr-2" %>
  <%= link_to "Nepal", "#", class: "mr-2" %>
  <%= link_to "Oasis", "#", class: "mr-2" %>
</div>


<h3>Defense</h3>

<p>Hanamura is a perfect example for when to use Mei. Especially the first point. If you're trying how to learn to play Mei properly on defense, Hanamura is a great place to start</p>

<h4 class="mb-1">Point A</h4>
<span class="text-small mb-2">Difficulty: Easy</span>
<p>
</p>
