<%= chapter_block id: "map-specific", extra_class: "mt-5" do %>
  <h1 class="mt-5 mb-0">Map Specific</h1>

  <p class="text-large font-italic mb-0">

  </p>

  <div class="text-large flex flex-column align-start">
    <h4 class="mt-5 mb-2">Assault maps</h4>
    <%= link_to "Hanamura", "#hanamura", class: "mr-2" %>
    <%= link_to "Horizon Lunar Colony", "#", class: "mr-2" %>
    <%= link_to "Temple of Anubis", "#", class: "mr-2" %>
    <%= link_to "Volskaya Industries", "#", class: "mr-2" %>

    <h4 class="mt-5 mb-2">Escort maps</h4>
    <%= link_to "Dorado", "#", class: "mr-2" %>
    <%= link_to "Junkertown", "#", class: "mr-2" %>
    <%= link_to "Route 66", "#", class: "mr-2" %>
    <%= link_to "Watchpoint: Gibraltar", "#", class: "mr-2" %>

    <h4 class="mt-5 mb-2">Assault Escort maps</h4>
    <%= link_to "Blizzard World", "#", class: "mr-2" %>
    <%= link_to "Eichenwalde", "#", class: "mr-2" %>
    <%= link_to "Hollywood", "#", class: "mr-2" %>
    <%= link_to "King's Row", "#", class: "mr-2" %>
    <%= link_to "Numbani", "#", class: "mr-2" %>

    <h4 class="mt-5 mb-2">Control maps</h4>
    <%= link_to "Ilios", "#", class: "mr-2" %>
    <%= link_to "Lijiang Tower", "#", class: "mr-2" %>
    <%= link_to "Nepal", "#", class: "mr-2" %>
    <%= link_to "Oasis", "#", class: "mr-2" %>
  </div>

  <h2 class="mt-5 mb-3" id="hanamura">Hanamura</h2>

  <h3 class="mt-5 mb-3">Defense</h3>

  <p class="font-italic text-large mb-5">Hanamura is a perfect example for when to use Mei. Especially the first point. If you're trying how to learn to play Mei properly on defense, Hanamura is a great place to start</p>

  <h4 class="mb-1">Point A</h4>
  <span class="text-small mb-2 font-italic">Difficulty: Easy</span>

  <p>
    This is an example for a perfect point to play Mei on. Everything seems to be designed with Mei in mind. Every choke point and door are perfectly sized for your Ice Wall. On the point you could never fire a single shot, and still contribute to your team in a massive way. There are 2 ways for the enemy to get through the first choke point. The main door, and the little window besides it. Many heroes cannot access the little window, so it is usually best to focus on the main door. Your wall fills the gap perfectly.<br>
    There are many positions to defend from, and it all depends on the enemy team composition and your team composition. Let's go over all the often used positions.
  </p>

  <%= link_to image_url("hanamura/hanamura_defense_a_1.jpg"), target: "_blank", class: "block b-0 my-4" do %>
    <%= image_tag "hanamura/hanamura_defense_a_1.jpg", class: "block mb-3 h-auto w-1/1" %>
  <% end %>

  <h4 class="mb-1">Point 1</h4>
  <p class="mt-0">
    You can get up to this point using your walls. The high ground allows you see easily see both entrances. The advantage here is that you are relatively safe. The enemy won't expect you here, and even if you do, there are 2 large health packs near by in case you need them. It also allows you to quickly move to a different point of the map. This is also a great point to boost your fellow teammates on to. A McCree cannot get up here by himself, but he can with your help.
  </p>

  <h4 class="mb-1">Point 2</h4>
  <p>
    This is similar to the first point, except that it allows you to freeeze those coming your way, while staying out of their reach. The point is somewhat less versatile than the first, but it is more safe.
  </p>

  <h4 class="mb-1">Point 3</h4>
  <p class="mt-0">
    Possibly the safest of them all, the enemy cannot fire at you unless they have entered the choke point. At which point you will wall them off, and let your team finish them off.
  </p>

  <h4 class="mb-1">Point 4</h4>
  <p class="mt-0">
    A dangerous point, as any unexpected quick moves by the enemy may get you killed. But the advantage is that you are able to immediately capitalize on your walls, as you are right in reach.
  </p>

  <h4 class="mb-1">Point 5</h4>
  <p class="mt-0">
    Flankers often use this side entrance as a quick get away, as they are relatively safe once they are in this building. Setting up camp here will allow you to catch them, while still giving you perfect access to the main door. It is a little more difficult from here, as enemies can easily take shots at you.
  </p>

  <h4 class="mb-1">Point 6</h4>
  <p class="mt-0">
    This point allows you easy access to the main door, the window, the objective, and a large health pack. All while keeping you somewhat safe on high ground. This is a great point to defend from, but it's also fairly predictable. Enemy snipers will have an easy time finding you.
  </p>

  <h4 class="mb-1">Point 7</h4>
  <p class="mt-0">
    If you are up against a heavy dive comp, it might be best to defend the point instead. All openings on this point are once again the exact size of your wall, allowing you to block off any entrance. This can be very useful, as walking around to a different entrance takes a fair amount of time. It can also be a great point to defend from if the enemy has strong flankers. This point still allows you to easily block the choke point, but you will not be dealing a lot of damage from this range.
  </p>

  <h4 class="mb-1">Point 8</h4>
  <p class="mt-0">
    Another high ground point, but this one allows full vision of anything happening behind the door, trying to poke from this distance can be difficult, as your damage will be greatly reduced. The main advantage of this point is that it is unexpected. Enemies will now be looking for you here.
  </p>

  <h4 class="mt-5 mb-1">Where to go</h4>
  <p class="mt-0">
    What point you pick will depend on a lot of factors, but in any case I advise to move around throughout the match. Enemies will find you, and will different ways of getting at you. Moving around will force them to change their tactic over and over again.
  </p>

  <ul>
    <li>
      In general I start at point 1, and move around once I know the enemy team comp.
    </li>
    <li>
      If they are dive heavy I will move to 6 or 7.
    </li>
    <li>
      If they are tank heavy I will stay at 1 or move to 2.
    </li>
    <li>
      If they are not mobile in general, I will move to 4.
    </li>
    <li>
      If the enemy has a large amount of flankers and no snipers, I will sit at 8
    </li>
    <li>
      If my team is sitting right at the choke, I will stay with them at 4 or 5, or position myself at 6.
    </li>
    <li>
      If my team lacks shields, I will sit at 1, or 7.
    </li>
  </ul>

  <p>
    It will take some time to learn where to sit in what situations, but none of them are ever bad. In general, simply move to a different point if you are getting focused.
  </p>
<% end %>
