<alert class="fixed pin-b pin-l w-1/1 bg-primary text-white p-3 text-center">This guide is a work in progress!</alert>

<section class="mx-auto w-max">
  <div class="md:w-5/6 lg:w-4/6 mx-auto">
    <h1 class="mt-0 mb-5">Mei<span class="text-primary">.</span>guide</h1>

    <p class="text-large my-0 font-italic">
      This <strong>Overwatch guide</strong> is aimed at <strong>experienced players</strong> wanting to learn to play as or against Mei. Mei is a very versatile and under utilized hero who can fit nearly any situation. Knowing what to do in each situation <strong>requires hero and map knowledge</strong>. While I try to get this across in this guide, it is something that largely comes from experience.
    </p>

    <h2 class="mt-5 mb-3">Table of contents</h2>
    <div class="text-large flex flex-column align-start">
      <%= link_to "Introduction", "#introduction" %>
      <%= link_to "Abilities", "#abilities" %>
        <%= link_to "Endothermic Blaster", "#", class: "ml-4" %>
        <%= link_to "Cryofreeze", "#", class: "ml-4" %>
        <%= link_to "Ice Wall", "#", class: "ml-4" %>
        <%= link_to "Blizzard", "#", class: "ml-4" %>
      <%= link_to "Maps", "#" %>
        <%= link_to "Assault", "#", class: "ml-4" %>
        <%= link_to "Escort", "#", class: "ml-4" %>
        <%= link_to "Hybrid", "#", class: "ml-4" %>
        <%= link_to "Control", "#", class: "ml-4" %>
      <%= link_to "Against Heroes", "#" %>
      <%= link_to "With Heroes", "#" %>
    </div>
  </section>

<section class="mx-auto w-max" id="introduction">
  <div class="md:w-5/6 lg:w-4/6 mx-auto">
    <h2 class="mt-5 mb-3">Introduction</h2>

    <p>
      Let's start of this guide by asking a very important question; <strong>Why Mei?</strong>. There is no hero in the game as versatile as Mei. She can quickly adapt to different situations and team compositions. This takes a long time to learn and get used to. If you are reading to guide hoping to quickly climb the competitive ladder, I'm afraid you will be disappointed. The time spend learning Mei could have been invested in learning several different heroes. <br>
      However, once you do have her playstyle down, she can be very rewarding. Not to mention, she is incredibly fun to play. This guide sets to teach you how to play in different situations and hopefully decrease the time it takes to get good at Mei.
    </p>
    <p>
      We will be going over her abilities, how to play in and against specific team composition, and how to play every map. I will try to share my experience on several situations, but ultimately all that will matter is the time and effort you put in to the hero. Reading this guide will hopefylly give you a good starting point and a good understanding of what Mei is capable of.
    </p>
    <p>
      <em>My experiences are just my own, and I'm sure other Mei players have theirs. Any questions or suggestions are highly appreciated!</em>
    </p>
  </div>
</section>

<section class="mx-auto w-max" id="abilities">
  <div class="md:w-5/6 lg:w-4/6 mx-auto">
    <h1 class="mt-5 mb-3">Abilities</h1>

    <h2 class="mt-0 mb-3">Endothermic Blaster</h2>
  </div>
</section>

<section class="mt-5 pt-5 md:flex align-start justify-center -mx-4">
  <%= image_tag "https://placehold.it/1920x1080", class: "h-auto px-4 md:px-0 md:mx-4 w-1/1 md:w-6/12 lg:w-5/12 mw:w-4/12" %>

  <div class="px-4 md:px-0 md:mx-4 md:w-6/12 lg:w-5/12 mw:w-4/12">
    <p>
      Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Quam ob rem tandem, inquit, non satisfacit? Quid censes in Latino fore? Quos quidem tibi studiose et diligenter tractandos magnopere censeo.
    </p>
  </div>
</section>
