<section class="mx-auto w-max">
  <div class="md:w-5/6 lg:w-4/6 mx-auto">
    <h1 class="mt-0 mb-5">Mei<span class="text-primary">.</span>guide</h1>

    <p class="text-large my-0">
      Quam illa ardentis amores excitaret sui! Cur tandem? Quasi ego id curem, quid ille aiat aut neget. Vitae autem degendae ratio maxime quidem illis placuit quieta. Paulum, cum regem Persem captum adduceret, eodem flumine invectio? Aliter enim explicari, quod quaeritur, non potest. Tamen a proposito, inquam, aberramus.
    </p>

    <h2 class="mt-5 mb-3">Table of contents</h2>
    <div class="text-large flex flex-column align-start">
      <%= link_to "Introduction", "#" %>
      <%= link_to "Abilities", "#" %>
        <%= link_to "Endothermic Blaster", "#", class: "ml-4" %>
        <%= link_to "Cryofreeze", "#", class: "ml-4" %>
        <%= link_to "Ice Wall", "#", class: "ml-4" %>
        <%= link_to "Blizzard", "#", class: "ml-4" %>
      <%= link_to "Maps", "#" %>
        <%= link_to "Assault", "#", class: "ml-4" %>
        <%= link_to "Escort", "#", class: "ml-4" %>
        <%= link_to "Hybrid", "#", class: "ml-4" %>
        <%= link_to "Control", "#", class: "ml-4" %>
      <%= link_to "Against Heroes", "#" %>
      <%= link_to "With Heroes", "#" %>
    </div>

    <h2 class="mt-5 mb-3">Introduction</h2>

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ita relinquet duas, de quibus etiam atque etiam consideret. Quamquam tu hanc copiosiorem etiam soles dicere. Tu vero, inquam, ducas licet, si sequetur; Non dolere, inquam, istud quam vim habeat postea videro; Duo Reges: constructio interrete. Atque haec ita iustitiae propria sunt, ut sint virtutum reliquarum communia.
    </p>
    <p>
      Dicimus aliquem hilare vivere; Sed tamen intellego quid velit. Qui est in parvis malis. Illud dico, ea, quae dicat, praeclare inter se cohaerere. Immo videri fortasse. Reguli reiciendam; Esse enim, nisi eris, non potes.
    </p>
    <p>
      Atqui haec patefactio quasi rerum opertarum, cum quid quidque sit aperitur, definitio est. Immo alio genere; Nobis Heracleotes ille Dionysius flagitiose descivisse videtur a Stoicis propter oculorum dolorem. Iam id ipsum absurdum, maximum malum neglegi. Quod ea non occurrentia fingunt, vincunt Aristonem;
    </p>
    <p>
      Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Quam ob rem tandem, inquit, non satisfacit? Quid censes in Latino fore? Quos quidem tibi studiose et diligenter tractandos magnopere censeo.
    </p>
  </div>
</section>

<section class="mt-5 pt-5 md:flex align-start justify-center -mx-4">
  <%= image_tag "https://placehold.it/1920x1080", class: "h-auto px-4 md:px-0 md:mx-4 w-1/1 md:w-6/12 lg:w-5/12 mw:w-4/12" %>

  <div class="px-4 md:px-0 md:mx-4 md:w-6/12 lg:w-5/12 mw:w-4/12">
    <p>
      Varietates autem iniurasque fortunae facile veteres philosophorum praeceptis instituta vita superabat. Quam ob rem tandem, inquit, non satisfacit? Quid censes in Latino fore? Quos quidem tibi studiose et diligenter tractandos magnopere censeo.
    </p>
  </div>
</section>
