<div class="text-large flex flex-column align-start">
  <%= link_to "Introduction", "#introduction" %>
  <%= link_to "Abilities", "#abilities" %>
    <%= link_to "Endothermic Blaster", "#endothermic-blaster", class: "ml-4" %>
    <%= link_to "Cryo-freeze", "#cryo-freeze", class: "ml-4" %>
    <%= link_to "Ice Wall", "#ice-wall", class: "ml-4" %>
    <%= link_to "Blizzard", "#blizzard", class: "ml-4" %>
  <%= link_to "General tips", "#" %>
  <%= link_to "Map specific", "#" %>
    <%= link_to "Assault", "#", class: "ml-4" %>
    <%= link_to "Escort", "#", class: "ml-4" %>
    <%= link_to "Hybrid", "#", class: "ml-4" %>
    <%= link_to "Control", "#", class: "ml-4" %>
  <%= link_to "Against Heroes", "#against_heroes" %>
  <%= link_to "With Heroes", "#" %>
</div>
