<!DOCTYPE html>
<html>
  <head>
    <title>Mei.guide</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <link rel="icon" type="image/png" href="<%= image_path "favicon-32x32.png" %>" sizes="32x32" />
    <link rel="icon" type="image/png" href="<%= image_path "favicon-16x16.png" %>" sizes="16x16" />

    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Spectral+SC" rel="stylesheet">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
